<h1>welcome to chat room <%= @chatroom.name %> </h1>

<div>
  <div id="messages">
    <ul>
      <% @old_message.each do |m| %>
        <li> <%= m.content %> 
          <small><%= timeago_tag m.time, :nojs => false, :limit => 10.days.ago %></small>
        </li>
      <% end %>
    </ul>
  </div>

  <%= form_for @message do |f|  %>
    <%= f.label :content %>
    <%= f.text_field :content%>
    <%= hidden_field_tag 'chat_room_token', params[:id] %>
    <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
    <%= f.submit %>
  <% end %>

  
  <div class="row text-center">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#invitemodal">Invitte people</a>
  </div>


  <div id="user list">
  User list
    <ul>
      <% @user_emails.each do |u| %>
          <li> <%= u.email %> </li>
      <% end %>
    </ul>
  </div>


  <div id="uploaded_files">
    Uploaded files
    <ul>
      <% @old_upload_files.each do |f| %>
          <li> <a href="<%= f.attachment.url %>"><%= f.attachment_file_name %></a> </li>
      <% end %>
    </ul>
  </div>

  <div class="row text-center">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#uploadmodal">Upload File</a>
  </div>
<br>
  <div class="row text-center">
    <%=form_tag(privateandpublic_markprivate_index_path) do%>
      <%= check_box_tag 'is_public', 'false'%>
      <% if @chatroom.is_public %>
        <%= label_tag 'is_public', 'Mark as Private Chat Room' %>
      <% else %>
        <%= label_tag 'is_public', 'Mark as Public Chat Room' %>
      <% end %>
      <%= hidden_field_tag 'user_id', session[:current_user_id] %>
      <%= hidden_field_tag 'chat_room_token', params[:id] %>
      <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
      <%= hidden_field_tag 'chat_room_name', @chatroom.token %>
      <%= submit_tag "Change Privacy", class: "btn btn-primary" %>
    <% end %>
  </div>

<!-- Invite people model-->
  <div class="modal fade" id="invitemodal" tabindex="-1" role="dialog" aria-labelledby="invitemodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="invitemodal">Invite people</h4>
        </div>
        <div class="modal-body">
          
          <%= form_for @invite do |f|  %>
            <div class="form-group">
              <%= f.label :email, "Email id of the person", class: "control-label"%>
              <%= f.text_field :email, class: "form-control"%>
              <%= hidden_field_tag 'chat_room_token', params[:id] %>
              <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
              <%= hidden_field_tag 'chat_room_name', @chatroom.name %>
              <br/>
              <%= f.submit "Invite", class: "col-md-offset-10 btn btn-primary"%>
            </div>
          <% end %>        
        </div>
      </div>
    </div>
  </div>

<!-- Upload files model-->
<div class="modal fade" id="uploadmodal" tabindex="-1" role="dialog" aria-labelledby="uploadmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="uploadmodal">Invite people</h4>
        </div>
        <div class="modal-body">
          <%= form_for @uploadfile, :html => { :multipart => true} do |f|  %>
            <div class="form-group">
              <%= f.label :attachment, "Email id of the person", class: "control-label"%>
              <%= f.file_field :attachment, class: "form-control"%>
              <%= hidden_field_tag 'user_id', session[:current_user_id] %>
              <%= hidden_field_tag 'chat_room_token', params[:id] %>
              <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
              <%= hidden_field_tag 'chat_room_name', @chatroom.name %>
              <br/>
              <%= f.submit "Upload", class: "col-md-offset-10 btn btn-primary"%>
            </div>
          <% end %>        
        </div>
      </div>
    </div>
  </div>

  
  <script type="text/javascript">
    $(document).ready(function(){
        $('input[type="checkbox"]').click(function(){
            if($(this).is(":checked")){
                $(this).val("true")
                alert("Checkbox is checked.");
                
            }
            else if($(this).is(":not(:checked)")){
                $(this).val("false")
                alert("Checkbox is unchecked.");
            }
        });
    });
  </script>

  <%= subscribe_to "/rooms/#{params[:id]}" %>

  <script type="text/javascript">
    PrivatePub.subscribe("/rooms/<%=params[:id]%>", function(data, channel) {
      //console.log(data)
      $("#messages ul").append(
        $("<li>").append(data.message_content, 
          $("<small>").append(" " + $.timeago(data.time))
      ));
      $("#message_content").val('');
    });
  </script>
 	
  <script>

    $( "#new_message" ).submit(function( event ) {

      new_message = $("#message_content").val();
      room_id = $("#chat_room_id").val();
      room_token = $("#chat_room_token").val();

      $.ajax({
        url: "/messages",
        type: "POST",
        data: { message: {content: new_message}, chat_room_token: room_token, chat_room_id: room_id,"authenticity_token": "<%= form_authenticity_token %>"  },
        complete: function() {},
        success: function(){},
        error: function() {
          alert("ajax call error")
        }
      });
      event.preventDefault();
    });
   
  </script>

</div>