<h1>welcome to chat room <%= @chatroom.name %> </h1>

<div>
  
  <div id="messages">
    <ul>
      <% @old_message.each do |m| %>
        <li> <%= m.content %> <small><%= m.time %></small> </li>
      <% end %>
    </ul>
  </div>

  <%= form_for @message do |f|  %>
    <%= f.label :content %>
    <%= f.text_field :content%>
    <%= hidden_field_tag 'chat_room_token', params[:id] %>
    <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
    <%= f.submit %>
  <% end %>
  
  <div class="row text-center">
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#invitemodal">Invitte people</a>
  </div>

  <div class="modal fade" id="invitemodal" tabindex="-1" role="dialog" aria-labelledby="invitemodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="invitemodal">Invite people</h4>
        </div>
        <div class="modal-body">
          
          <%= form_for @invite do |f|  %>
            <div class="form-group">
              <%= f.label :email, "Email id of the person", class: "control-label"%>
              <%= f.text_field :email, class: "form-control"%>
              <%= hidden_field_tag 'chat_room_token', params[:id] %>
              <%= hidden_field_tag 'chat_room_id', @chatroom.id %>
              <br/>
              <%= f.submit "Invite", class: "col-md-offset-10 btn btn-primary"%>
            </div>
          <% end %>        
        </div>
      </div>
    </div>
  </div>

  

  <%= subscribe_to "/rooms/#{params[:id]}" %>

  <script type="text/javascript">
    PrivatePub.subscribe("/rooms/<%=params[:id]%>", function(data, channel) {
      console.log(data)
      
      $("#messages ul").append(
        $("<li>").append(data.message_content)
      );
      $("#message_content").val('');
      
    });
  </script>
 	
  <script>

    $( "#new_message" ).submit(function( event ) {

      new_message = $("#message_content").val();
      room_id = $("#chat_room_id").val();
      room_token = $("#chat_room_token").val();

      $.ajax({
        url: "/messages",
        type: "POST",
        data: { message: {content: new_message}, chat_room_token: room_token, chat_room_id: room_id,"authenticity_token": "<%= form_authenticity_token %>"  },
        complete: function() {},
        success: function(){},
        error: function() {
          alert("ajax call error")
        }
      });
      event.preventDefault();
    });
   
  </script>

</div>