<div style="text-align: center">
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email%>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password%>
    <br>
    <%= label_tag :chatroomname %>
    <%= text_field_tag :chatroomname %>
    
    <%= f.submit %>
  <% end %>
</div>
